section.base-blog-list
  //- TODO: Loading?
  .base-blog-list__container
    .base-blog-list__blogs(v-for="(blog, i) in blogs" :key="`blog-${i}`")
        nuxt-link.base-blog-list__link(:to="`/blog/${blog.slug}`") {{ blog.blog.title }}