.base-pagination
  .base-pagination__pages(v-for='(num, i) in totalPages' :key='`page-num-${i}`')
    button.base-pagination__number(@click='onPageUpdate(i + 1)' :class="{ 'base-pagination__number--active': currentPage === i + 1 }") {{ i + 1}}